.rodape {
    background-color: #727091;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rodape__principal {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.rodape-logo{
    display: flex;
    align-items: center;
}

.logo-rodape h1{
    color:#ffff;
    margin-left: 0;
    cursor: pointer;
    font-style: italic;
    font-size:  min(1.5rem, 5.5vw);
    margin-left: 1rem;
}


.rodape__navegacao>li {
    font-size: 14px;
    margin: 8px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: #ffff;
}

.rodape__navegacao a {
    transition: all .5s;
    text-decoration: none;
    padding: 0.5rem;
    color: #ffff;
    
}

.links-rodape:hover{
    background-color: rgb(194, 190, 190);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    font-size:  min(0.9rem, 3vw);
}

.logo-rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-rodape img{
    width: 45%;
    margin-right: 0.6rem;
}
.rodape__redes-sociais{
    display: flex;
 
}

.rodape__redes-sociais>a{
    display: flex;
    justify-content: center;
}
.rodape__redes-sociais>a>img{
    width: 50%;
} 

.rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: min(0.9rem, 2.7vw);
    opacity: 0.5;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 800px){
    .rodape__principal{
        flex-direction: column;
    }
    .rodape__redes-sociais{
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .rodape__navegacao{
        margin-bottom: 1rem;
    }

}
